In [150]:
import numpy as np
import pandas as pd
import datetime as dt

In [5]:
data = pd.read_csv('movies_metadata.csv')
data = data[['id', 'title', 'budget', 'genres', 'release_date', 'revenue', 'vote_average', 'vote_count']]

/home/erol/jupyter/jupyter/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [90]:
df = pd.read_csv('myWatchedMovies.csv', index_col=0)

In [91]:
data.head()

,id,title,budget,genres,release_date,revenue,vote_average,vote_count
0,862,Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,373554033.0,7.7,5415.0
1,8844,Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,262797249.0,6.9,2413.0
2,15602,Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,0.0,6.5,92.0
3,31357,Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,81452156.0,6.1,34.0
4,11862,Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,76578911.0,5.7,173.0

In [92]:
df.head()

,Watched,Date,Day,Rating,title,budget,genres,release_date,revenue,vote_average,vote_count
384,Alone,2018-09-18,tuesday,2.0,47 Meters Down,5500000,"['Drama', 'Thriller', 'Horror', 'Adventure']",2017-06-15,44235023,5.1,548
640,Alone,2018-09-16,sunday,2.0,Ghost Ship,35000000,"['Horror', 'Mystery', 'Thriller']",2002-10-25,68349884,5.3,540
768,Alone,2018-04-30,monday,2.0,The Mummy,125000000,"['Thriller', 'Action', 'Adventure']",2017-06-06,407778013,5.4,2122
3360,Alone,2018-09-07,friday,2.0,Mechanic: Resurrection,40000000,"['Action', 'Crime', 'Thriller']",2016-08-25,125729635,5.3,1236
4384,Alone,2018-06-19,tuesday,2.0,Fantastic 4: Rise of the Silver Surfer,130000000,"['Adventure', 'Fantasy', 'Action', 'Thriller']",2007-06-13,289047763,5.4,2648

In [24]:
df[(df['Day'] == 'sunday') | (df['Day'] == 'saturday')]['genres'].value_counts().head()

['Comedy']                         6
['Drama']                          6
['Action', 'Crime', 'Thriller']    3
['Comedy', 'Romance']              3
['Horror', 'Thriller']             3
Name: genres, dtype: int64

In [25]:
df[(df['Day'] != 'sunday') | (df['Day'] != 'saturday')]['genres'].value_counts().head()

['Drama']                         33
['Comedy']                        29
['Drama', 'Romance']              14
['Comedy', 'Romance']             12
['Comedy', 'Drama', 'Romance']    12
Name: genres, dtype: int64

In [31]:
df[df['Watched'] == 'with gf']['genres'].value_counts().head()

['Drama']                         5
['Comedy']                        3
['Drama', 'War']                  3
['Comedy', 'Drama', 'Romance']    2
['Western']                       2
Name: genres, dtype: int64

In [48]:
alone = df[df['Rating']>3.5]

In [56]:
list = alone['genres'].value_counts().head().index

In [57]:
list

Index(['['Drama']', '['Drama', 'Crime']', '['Drama', 'War']',
       '['Adventure', 'Fantasy', 'Action']', '['Crime', 'Drama', 'Thriller']'],
      dtype='object')

In [109]:

#df.loc[df['genres'].isin(list), 'Watched'] = "Alone"

In [111]:
list2 = df[(df['Day'] != 'sunday') | (df['Day'] != 'saturday')]['genres'].value_counts().head()

In [112]:
#df.loc[df['genres'].isin(list2), 'Watched'] = "Family"

In [114]:
list3 = df[(df['Day'] == 'sunday') | (df['Day'] == 'saturday')]['genres'].value_counts().head(10)

In [117]:
list3 = list3.drop("['Drama', 'War']")

In [118]:
#df.loc[df['genres'].isin(list3), 'Watched'] = "with gf"

In [178]:
df.Watched.value_counts()

Alone      99
with gf    79
Family     71
Name: Watched, dtype: int64

In [128]:
#df.loc[df['genres'] == "['Horror']", 'Watched'] = "with gf"

In [140]:

#df.loc[df['genres'].str.contains('Horror'), 'Watched'] = "with gf"

In [170]:
df.Watched.value_counts()

Alone      99
with gf    79
Family     71
Name: Watched, dtype: int64

In [144]:
#df.loc[df['genres'].str.contains('Horror'), 'Day'] = "saturday"

In [151]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [160]:
df['release_date'].dt.year.value_counts()

#df.loc[df['release_date'].dt.year < 1970, 'Day'] = "sunday"

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 384 to 8640
Data columns (total 11 columns):
Watched         249 non-null object
Date            249 non-null object
Day             249 non-null object
Rating          249 non-null float64
title           249 non-null object
budget          249 non-null int64
genres          249 non-null object
release_date    249 non-null datetime64[ns]
revenue         249 non-null int64
vote_average    249 non-null float64
vote_count      249 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(5)
memory usage: 33.3+ KB

In [165]:
#df.loc[df['genres'] == "['Comedy']", 'Watched'] = "with gf"

In [167]:

#df.loc[df['genres'] == "['Animation', 'Drama', 'War']", 'Watched'] = "Alone"

In [168]:
#df.loc[df['genres'].str.contains('Family'), 'Watched'] = "Family"

In [169]:

#df.loc[df['genres'] == "['Comedy', 'Romance']", 'Watched'] = "Family"

In [180]:

#df.loc[df['genres'] == "['Action', 'Adventure'] ", 'Watched'] = "with gf"

In [181]:
#df.to_csv('myWatchedMovies.csv')

In [207]:
list1 = df2[df['genres'] == "['Comedy']"]['title'].value_counts().head()

/home/erol/jupyter/jupyter/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [209]:
list4 = df2[df['genres'] == "['Drama']"]['title'].value_counts().head()

/home/erol/jupyter/jupyter/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [211]:
df2 = pd.read_csv('myWatchedMovies2.csv', index_col=0)
df2['release_date'] = pd.to_datetime(df2['release_date'])

In [212]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 32 to 8896
Data columns (total 12 columns):
Watched         249 non-null object
Date            249 non-null object
Day             249 non-null object
Rating          249 non-null float64
movieId         249 non-null int64
title           249 non-null object
budget          249 non-null int64
genres          249 non-null object
release_date    249 non-null datetime64[ns]
revenue         249 non-null int64
vote_average    249 non-null float64
vote_count      249 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 25.3+ KB

In [214]:
df2.loc[df2['genres'].isin(list), 'Watched'] = "Alone"
df2.loc[df2['genres'].isin(list2), 'Watched'] = "Family"
df2.loc[df2['genres'].isin(list3), 'Watched'] = "with gf"
df2.loc[df2['genres'].str.contains('Horror'), 'Watched'] = "with gf"
df2.loc[df2['genres'].str.contains('Horror'), 'Day'] = "saturday"
df2.loc[df2['release_date'].dt.year < 1970, 'Day'] = "sunday"
df2.loc[df2['title'].isin(list1), 'Watched'] = "with gf"
df2.loc[df2['genres'] == "['Animation', 'Drama', 'War']", 'Watched'] = "Alone"
df2.loc[df2['genres'].str.contains('Family'), 'Watched'] = "Family"
df2.loc[df2['genres'] == "['Comedy', 'Romance']", 'Watched'] = "Family"
df2.loc[df2['genres'] == "['Action', 'Adventure'] ", 'Watched'] = "with gf"
df2.loc[df2['title'].isin(list4), 'Watched'] = "Family"

In [215]:
df2.Watched.value_counts()

Alone      95
Family     79
with gf    75
Name: Watched, dtype: int64

In [216]:
#df2.to_csv('myWatchedMovies2.csv')

,Watched,Date,Day,Rating,movieId,title,budget,genres,release_date,revenue,vote_average,vote_count
32,Family,2018-05-07,monday,1.0,4258,Scary Movie 5,20000000,['Comedy'],2013-04-11,78378744,4.6,813
1632,Family,2018-05-14,monday,1.0,71880,Jack and Jill,79000000,['Comedy'],2011-11-11,149673788,4.0,619
3232,Family,2018-07-07,saturday,1.0,188207,The Legend of Hercules,70000000,"['Action', 'Adventure']",2014-01-10,61279452,4.4,542
4832,Family,2018-12-25,tuesday,1.0,314,Catwoman,100000000,"['Action', 'Crime']",2004-07-22,82102379,4.2,833
6432,Family,2018-04-16,monday,1.0,263472,Knock Knock,2500000,"['Drama', 'Thriller']",2015-06-26,6341684,4.9,880
8032,with gf,2018-06-20,saturday,1.0,37169,The Human Centipede (First Sequence),2011799,['Horror'],2009-04-26,0,4.9,528
384,with gf,2018-09-18,saturday,2.0,403119,47 Meters Down,5500000,"['Drama', 'Thriller', 'Horror', 'Adventure']",2017-06-15,44235023,5.1,548
544,with gf,2018-04-10,tuesday,2.0,100042,Dumb and Dumber To,40000000,['Comedy'],2014-11-12,169837010,5.4,1140
640,with gf,2018-09-16,saturday,2.0,9645,Ghost Ship,35000000,"['Horror', 'Mystery', 'Thriller']",2002-10-25,68349884,5.3,540
768,Alone,2018-04-30,monday,2.0,282035,The Mummy,125000000,"['Thriller', 'Action', 'Adventure']",2017-06-06,407778013,5.4,2122
1504,with gf,2018-04-17,tuesday,2.0,13051,Max Payne,35000000,['Action'],2008-10-15,85416905,5.2,625
1696,with gf,2018-05-28,saturday,2.0,243688,Poltergeist,35000000,"['Horror', 'Thriller']",2015-05-20,95437994,5.0,924
1888,with gf,2018-08-03,friday,2.0,44912,Green Lantern,200000000,"['Adventure', 'Action', 'Thriller', 'Science F...",2011-06-16,219851172,5.1,2551
2304,with gf,2018-11-19,monday,2.0,216015,Fifty Shades of Grey,40000000,"['Drama', 'Romance', 'Thriller']",2015-02-11,571006128,5.2,3350
2368,with gf,2018-12-08,saturday,2.0,210860,Mortdecai,60000000,"['Comedy', 'Adventure']",2015-01-21,30418560,5.4,1078
2656,with gf,2019-02-26,tuesday,2.0,47327,Drive Angry,50000000,"['Fantasy', 'Thriller', 'Action', 'Crime']",2011-02-24,28931401,5.3,608
3360,Alone,2018-09-07,friday,2.0,278924,Mechanic: Resurrection,40000000,"['Action', 'Crime', 'Thriller']",2016-08-25,125729635,5.3,1236
4128,Family,2019-01-14,monday,2.0,19899,Couples Retreat,70000000,"['Comedy', 'Romance']",2009-09-19,171844840,5.3,601
4384,Alone,2018-06-19,tuesday,2.0,1979,Fantastic 4: Rise of the Silver Surfer,130000000,"['Adventure', 'Fantasy', 'Action', 'Thriller']",2007-06-13,289047763,5.4,2648
4896,Alone,2019-01-29,tuesday,2.0,43074,Ghostbusters,144000000,"['Action', 'Fantasy', 'Comedy']",2016-07-14,229147509,5.3,2203
5088,Family,2018-08-25,saturday,2.0,72559,G.I. Joe: Retaliation,130000000,"['Adventure', 'Action', 'Science Fiction', 'Th...",2013-03-26,371876278,5.4,3045
5344,with gf,2019-01-06,sunday,2.0,9381,Babylon A.D.,70000000,"['Action', 'Adventure', 'Science Fiction', 'Th...",2008-08-20,72108608,5.4,687
5440,with gf,2018-03-30,friday,2.0,124459,The Incredible Burt Wonderstone,30000000,['Comedy'],2013-03-14,27437881,5.3,732
5760,Alone,2018-08-03,friday,2.0,49524,R.I.P.D.,130000000,"['Fantasy', 'Action', 'Comedy', 'Crime']",2013-07-18,61648500,5.4,1280
6336,Alone,2018-11-30,friday,2.0,271969,Ben-Hur,100000000,"['Adventure', 'Drama', 'Action']",2016-08-17,94061311,5.3,642
7168,with gf,2019-05-05,sunday,2.0,201088,Blackhat,70000000,"['Crime', 'Drama', 'Mystery']",2015-01-13,17752940,5.1,842
7264,Alone,2019-02-25,monday,2.0,7840,"10,000 BC",105000000,"['Adventure', 'Action', 'Drama', 'Fantasy']",2008-02-22,266000000,5.1,934
7296,Family,2018-06-12,tuesday,2.0,2698,Evan Almighty,175000000,"['Fantasy', 'Comedy', 'Family']",2007-06-09,173000000,5.3,1194
7680,Family,2018-12-28,friday,2.0,13836,Race to Witch Mountain,50000000,"['Adventure', 'Family', 'Fantasy', 'Science Fi...",2009-03-12,106303988,5.4,520
7840,Alone,2018-07-01,sunday,2.0,18480,Brüno,42000000,['Comedy'],2009-07-08,0,5.4,528
...,...,...,...,...,...,...,...,...,...,...,...,...
4864,Alone,2018-06-24,sunday,5.0,389,12 Angry Men,350000,['Drama'],1957-03-25,1000000,8.2,2130
4960,Family,2018-07-31,tuesday,5.0,8587,The Lion King,45000000,"['Family', 'Animation', 'Drama']",1994-06-23,788241776,8.0,5520
5184,Alone,2018-05-09,sunday,5.0,15,Citizen Kane,839727,"['Mystery', 'Drama']",1941-04-30,23217674,8.0,1244
5248,Alone,2018-11-16,friday,5.0,807,Se7en,33000000,"['Crime', 'Mystery', 'Thriller']",1995-09-22,327311859,8.1,5915
5280,Alone,2019-02-28,thursday,5.0,244786,Whiplash,3300000,['Drama'],2014-10-10,13092000,8.3,4376
5408,Alone,2018-12-14,friday,5.0,10376,The Legend of 1900,9000000,['Fantasy'],1998-10-28,0,8.1,554
5536,Alone,2018-07-03,tuesday,5.0,120467,The Grand Budapest Hotel,30000000,"['Comedy', 'Drama']",2014-02-26,174600318,8.0,4644
5824,Alone,2018-12-24,monday,5.0,369557,Sing Street,4000000,"['Romance', 'Drama', 'Music']",2016-03-11,13624522,8.0,669
5856,Alone,2019-03-18,sunday,5.0,426,Vertigo,2479000,"['Mystery', 'Romance', 'Thriller']",1958-05-09,28000000,8.0,1162
6048,Alone,2019-02-05,tuesday,5.0,1891,The Empire Strikes Back,18000000,"['Adventure', 'Action', 'Science Fiction']",1980-05-17,538400000,8.2,5998
6080,Alone,2018-04-14,saturday,5.0,207,Dead Poets Society,16400000,['Drama'],1989-06-02,235860116,8.1,2786
6304,Alone,2018-10-04,thursday,5.0,240,The Godfather: Part II,13000000,"['Drama', 'Crime']",1974-12-20,47542841,8.3,3418
6528,Alone,2018-11-12,monday,5.0,550,Fight Club,63000000,['Drama'],1999-10-15,100853753,8.3,9678
6624,Alone,2018-05-03,thursday,5.0,77338,The Intouchables,13000000,"['Drama', 'Comedy']",2011-11-02,426480871,8.2,5410
6720,Alone,2018-10-07,sunday,5.0,429,"The Good, the Bad and the Ugly",1200000,['Western'],1966-12-23,6000000,8.1,2371
6976,Alone,2018-05-18,friday,5.0,101,Leon: The Professional,16000000,"['Thriller', 'Crime', 'Drama']",1994-09-14,45284974,8.2,4293
7200,Alone,2018-06-17,sunday,5.0,567,Rear Window,1000000,"['Drama', 'Mystery', 'Thriller']",1954-08-01,36764313,8.2,1531
7360,with gf,2018-08-02,sunday,5.0,539,Psycho,806948,"['Drama', 'Horror', 'Thriller']",1960-06-16,32000000,8.3,2405
7424,Alone,2018-08-17,friday,5.0,769,GoodFellas,25000000,"['Drama', 'Crime']",1990-09-12,46836394,8.2,3211
7648,Alone,2018-06-02,saturday,5.0,128,Princess Mononoke,26500000,"['Adventure', 'Fantasy', 'Animation']",1997-07-12,159375308,8.2,2041
7744,with gf,2018-08-15,sunday,5.0,935,Dr. Strangelove or: How I Learned to Stop Worr...,1800000,"['Drama', 'Comedy', 'War']",1964-01-29,9440272,8.0,1472
8096,Alone,2019-03-15,friday,5.0,4935,Howl's Moving Castle,24000000,"['Fantasy', 'Animation', 'Adventure']",2004-11-19,234710455,8.2,2049
8160,Family,2018-12-24,sunday,5.0,1585,It's a Wonderful Life,3180000,"['Drama', 'Family', 'Fantasy']",1946-12-20,9644124,8.0,1103
8256,Alone,2019-05-07,tuesday,5.0,331214,Band of Brothers,125000000,"['Action', 'Drama', 'War']",2001-09-09,0,8.2,725
8320,Alone,2018-11-11,sunday,5.0,975,Paths of Glory,935000,"['Drama', 'War']",1957-09-18,0,8.2,565
8416,Alone,2019-01-07,monday,5.0,121,The Lord of the Rings: The Two Towers,79000000,"['Adventure', 'Fantasy', 'Action']",2002-12-18,926287400,8.0,7641
8544,Alone,2018-08-01,wednesday,5.0,185,A Clockwork Orange,2200000,"['Science Fiction', 'Drama']",1971-12-18,26589000,8.0,3432
8640,Alone,2018-08-02,thursday,5.0,278,The Shawshank Redemption,25000000,"['Drama', 'Crime']",1994-09-23,28341469,8.5,8358
8768,Alone,2019-05-07,tuesday,5.0,77,Memento,9000000,"['Mystery', 'Thriller']",2000-10-11,39723096,8.1,4168
8896,Alone,2018-09-27,thursday,5.0,13,Forrest Gump,55000000,"['Comedy', 'Drama', 'Romance']",1994-07-06,677945399,8.2,8147