In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [74]:
df = pd.read_csv('myWatchedMovies2.csv', index_col = 0)

In [50]:
data = pd.read_csv('movies_metadata.csv')

/home/erol/jupyter/jupyter/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 32 to 8896
Data columns (total 12 columns):
Watched         249 non-null object
Date            249 non-null object
Day             249 non-null object
Rating          249 non-null float64
movieId         249 non-null int64
title           249 non-null object
budget          249 non-null int64
genres          249 non-null object
release_date    249 non-null object
revenue         249 non-null int64
vote_average    249 non-null float64
vote_count      249 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 25.3+ KB

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [53]:
df.head()

,Watched,Date,Day,Rating,movieId,title,budget,genres,release_date,revenue,vote_average,vote_count
32,Family,2018-05-07,monday,1.0,4258,Scary Movie 5,20000000,['Comedy'],2013-04-11,78378744,4.6,813
1632,Family,2018-05-14,monday,1.0,71880,Jack and Jill,79000000,['Comedy'],2011-11-11,149673788,4.0,619
3232,Family,2018-07-07,saturday,1.0,188207,The Legend of Hercules,70000000,"['Action', 'Adventure']",2014-01-10,61279452,4.4,542
4832,Family,2018-12-25,tuesday,1.0,314,Catwoman,100000000,"['Action', 'Crime']",2004-07-22,82102379,4.2,833
6432,Family,2018-04-16,monday,1.0,263472,Knock Knock,2500000,"['Drama', 'Thriller']",2015-06-26,6341684,4.9,880

In [54]:
df.Watched.value_counts()

Alone      95
Family     79
with gf    75
Name: Watched, dtype: int64

In [55]:
df.Day.value_counts()

saturday     56
sunday       50
friday       38
tuesday      36
monday       24
thursday     23
wednesday    22
Name: Day, dtype: int64

In [56]:
df.Rating.value_counts()

3.0    68
5.0    61
4.0    57
4.5    32
2.0    25
1.0     6
Name: Rating, dtype: int64

In [57]:
df.genres.value_counts().head()

['Drama']                         14
['Comedy']                        13
['Drama', 'Crime']                 6
['Comedy', 'Romance']              5
['Comedy', 'Drama', 'Romance']     4
Name: genres, dtype: int64

In [58]:
df[df['Watched'] == 'with gf']['genres'].value_counts().head()

['Comedy']                                             5
['Horror', 'Thriller']                                 4
['Horror', 'Mystery', 'Thriller']                      3
['Horror']                                             3
['Horror', 'Action', 'Thriller', 'Science Fiction']    2
Name: genres, dtype: int64

In [59]:
df[df['Watched'] == 'Family']['genres'].value_counts().head()

['Comedy']                            6
['Comedy', 'Romance']                 5
['Comedy', 'Family']                  2
['Action', 'Adventure']               2
['Adventure', 'Fantasy', 'Family']    2
Name: genres, dtype: int64

In [60]:
df[df['Watched'] == 'Alone']['genres'].value_counts().head()

['Drama']                             14
['Drama', 'Crime']                     6
['Drama', 'War']                       3
['Crime', 'Drama', 'Thriller']         3
['Adventure', 'Fantasy', 'Action']     3
Name: genres, dtype: int64

In [61]:
df[(df['Day'] == 'sunday') | (df['Day'] == 'saturday')]['genres'].value_counts().head()

['Drama']                            6
['Comedy']                           5
['Horror', 'Thriller']               4
['Horror']                           3
['Horror', 'Mystery', 'Thriller']    3
Name: genres, dtype: int64

In [62]:
df[(df['Day'] != 'sunday') | (df['Day'] != 'saturday')]['genres'].value_counts().head()

['Drama']                         14
['Comedy']                        13
['Drama', 'Crime']                 6
['Comedy', 'Romance']              5
['Comedy', 'Drama', 'Romance']     4
Name: genres, dtype: int64

In [76]:
df.head()

,Watched,Date,Day,Rating,movieId,title,budget,genres,release_date,revenue,vote_average,vote_count
32,Family,2018-05-07,monday,1.0,4258,Scary Movie 5,20000000,Comedy,2013-04-11,78378744,4.6,813
1632,Family,2018-05-14,monday,1.0,71880,Jack and Jill,79000000,Comedy,2011-11-11,149673788,4.0,619
3232,Family,2018-07-07,saturday,1.0,188207,The Legend of Hercules,70000000,"Action, Adventure",2014-01-10,61279452,4.4,542
4832,Family,2018-12-25,tuesday,1.0,314,Catwoman,100000000,"Action, Crime",2004-07-22,82102379,4.2,833
6432,Family,2018-04-16,monday,1.0,263472,Knock Knock,2500000,"Drama, Thriller",2015-06-26,6341684,4.9,880

In [77]:
df.genres.value_counts()

Drama                                                    14
Comedy                                                   13
Drama, Crime                                              6
Comedy, Romance                                           5
Action, Crime, Thriller                                   4
Comedy, Drama                                             4
Horror, Thriller                                          4
Comedy, Drama, Romance                                    4
Adventure, Fantasy, Action                                3
Horror                                                    3
Drama, Thriller                                           3
Adventure, Action, Thriller                               3
Crime, Drama, Thriller                                    3
Drama, War                                                3
Horror, Mystery, Thriller                                 3
Action, Adventure, Science Fiction, Thriller              2
Adventure, Action, Science Fiction                        2
Drama, Romance                                            2
Action, Science Fiction, Thriller                         2
Action, Adventure                                         2
Drama, Comedy, Romance                                    2
Horror, Mystery                                           2
Science Fiction, Action, Adventure                        2
Fantasy, Adventure, Animation, Family                     2
Crime, Drama, Mystery                                     2
Adventure, Fantasy, Action, Thriller                      2
Action, Crime, Drama                                      2
Drama, Comedy                                             2
Romance, Drama                                            2
Thriller, Crime, Drama                                    2
                                                         ..
Adventure, Action, Drama, Fantasy                         1
Drama, Adventure                                          1
Romance, Fantasy, Animation, Music                        1
Drama, Action, History                                    1
Adventure, Action, Comedy, Thriller, Crime                1
Crime, Comedy                                             1
Animation, Fantasy, Family, Comedy                        1
Drama, Horror, Thriller                                   1
Mystery, Romance, Thriller                                1
Animation, Adventure, Comedy, Family                      1
Fantasy, Comedy, Family                                   1
Fantasy, Action, Comedy, Crime                            1
Action, Crime, Drama, Thriller                            1
Adventure, Family, Fantasy, Science Fiction, Thriller     1
Action, Adventure, Science Fiction                        1
Adventure, Drama, Science Fiction                         1
Action, Drama, History, War                               1
Comedy, War                                               1
Drama, Comedy, War                                        1
Science Fiction, Action, Drama, Thriller                  1
Fantasy, Animation, Adventure                             1
Drama, History                                            1
Drama, Family, Fantasy                                    1
Family, Animation, Comedy, Adventure                      1
Drama, Thriller, Crime, Mystery                           1
Thriller, Science Fiction, Mystery, Romance               1
Animation, Drama, War                                     1
Action, Comedy, Drama, Family, Thriller                   1
Action, Thriller, Science Fiction                         1
Thriller, Crime, Horror                                   1
Name: genres, Length: 166, dtype: int64

In [65]:
df['Watched'] = df["Watched"].astype('category')

In [67]:
df['Day'] = df["Day"].astype('category')

In [87]:
df2 = df

In [109]:
z = []
for i in df.genres:
    x = i.split(',')
    for i in x:        
        if i not in z:
            z.append(i)
        else:
            continue

In [110]:
z

['Comedy',
 'Action',
 ' Adventure',
 ' Crime',
 'Drama',
 ' Thriller',
 'Horror',
 ' Horror',
 ' Mystery',
 'Thriller',
 ' Action',
 'Adventure',
 ' Science Fiction',
 ' Romance',
 'Fantasy',
 ' Fantasy',
 ' Comedy',
 ' Drama',
 'Crime',
 ' Family',
 'Animation',
 ' Western',
 'Romance',
 'Science Fiction',
 ' Music',
 ' War',
 'War',
 ' History',
 'Family',
 ' Animation',
 'Mystery',
 'Western',
 'Music',
 'History']

In [119]:
df2  = pd.DataFrame(None , columns=z)

In [120]:
df3 = pd.concat([df, df2], axis=1)

In [121]:
df3

,Watched,Date,Day,Rating,movieId,title,budget,genres,release_date,revenue,...,Music,War,War,History,Family,Animation,Mystery,Western,Music,History
32,Family,2018-05-07,monday,1.0,4258,Scary Movie 5,20000000,Comedy,2013-04-11,78378744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,Family,2018-05-14,monday,1.0,71880,Jack and Jill,79000000,Comedy,2011-11-11,149673788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3232,Family,2018-07-07,saturday,1.0,188207,The Legend of Hercules,70000000,"Action, Adventure",2014-01-10,61279452,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4832,Family,2018-12-25,tuesday,1.0,314,Catwoman,100000000,"Action, Crime",2004-07-22,82102379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6432,Family,2018-04-16,monday,1.0,263472,Knock Knock,2500000,"Drama, Thriller",2015-06-26,6341684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8032,Family,2018-06-20,wednesday,1.0,37169,The Human Centipede (First Sequence),2011799,Horror,2009-04-26,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,Alone,2018-09-18,tuesday,2.0,403119,47 Meters Down,5500000,"Drama, Thriller, Horror, Adventure",2017-06-15,44235023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,with gf,2018-04-10,tuesday,2.0,100042,Dumb and Dumber To,40000000,Comedy,2014-11-12,169837010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640,Alone,2018-09-16,sunday,2.0,9645,Ghost Ship,35000000,"Horror, Mystery, Thriller",2002-10-25,68349884,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
768,Alone,2018-04-30,monday,2.0,282035,The Mummy,125000000,"Thriller, Action, Adventure",2017-06-06,407778013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1504,with gf,2018-04-17,tuesday,2.0,13051,Max Payne,35000000,Action,2008-10-15,85416905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1696,with gf,2018-05-28,monday,2.0,243688,Poltergeist,35000000,"Horror, Thriller",2015-05-20,95437994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1888,with gf,2018-08-03,friday,2.0,44912,Green Lantern,200000000,"Adventure, Action, Thriller, Science Fiction",2011-06-16,219851172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2304,with gf,2018-11-19,monday,2.0,216015,Fifty Shades of Grey,40000000,"Drama, Romance, Thriller",2015-02-11,571006128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2368,with gf,2018-12-08,saturday,2.0,210860,Mortdecai,60000000,"Comedy, Adventure",2015-01-21,30418560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2656,with gf,2019-02-26,tuesday,2.0,47327,Drive Angry,50000000,"Fantasy, Thriller, Action, Crime",2011-02-24,28931401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3360,Alone,2018-09-07,friday,2.0,278924,Mechanic: Resurrection,40000000,"Action, Crime, Thriller",2016-08-25,125729635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4128,with gf,2019-01-14,monday,2.0,19899,Couples Retreat,70000000,"Comedy, Romance",2009-09-19,171844840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4384,Alone,2018-06-19,tuesday,2.0,1979,Fantastic 4: Rise of the Silver Surfer,130000000,"Adventure, Fantasy, Action, Thriller",2007-06-13,289047763,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4896,Alone,2019-01-29,tuesday,2.0,43074,Ghostbusters,144000000,"Action, Fantasy, Comedy",2016-07-14,229147509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5088,Family,2018-08-25,saturday,2.0,72559,G.I. Joe: Retaliation,130000000,"Adventure, Action, Science Fiction, Thriller",2013-03-26,371876278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5344,with gf,2019-01-06,sunday,2.0,9381,Babylon A.D.,70000000,"Action, Adventure, Science Fiction, Thriller",2008-08-20,72108608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5440,with gf,2018-03-30,friday,2.0,124459,The Incredible Burt Wonderstone,30000000,Comedy,2013-03-14,27437881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5760,Alone,2018-08-03,friday,2.0,49524,R.I.P.D.,130000000,"Fantasy, Action, Comedy, Crime",2013-07-18,61648500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6336,Alone,2018-11-30,friday,2.0,271969,Ben-Hur,100000000,"Adventure, Drama, Action",2016-08-17,94061311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7168,with gf,2019-05-05,sunday,2.0,201088,Blackhat,70000000,"Crime, Drama, Mystery",2015-01-13,17752940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7264,Alone,2019-02-25,monday,2.0,7840,"10,000 BC",105000000,"Adventure, Action, Drama, Fantasy",2008-02-22,266000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7296,with gf,2018-06-12,tuesday,2.0,2698,Evan Almighty,175000000,"Fantasy, Comedy, Family",2007-06-09,173000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7680,Alone,2018-12-28,friday,2.0,13836,Race to Witch Mountain,50000000,"Adventure, Family, Fantasy, Science Fiction, T...",2009-03-12,106303988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7840,Alone,2018-07-01,sunday,2.0,18480,Brüno,42000000,Comedy,2009-07-08,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4864,Alone,2018-06-24,sunday,5.0,389,12 Angry Men,350000,Drama,1957-03-25,1000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4960,with gf,2018-07-31,tuesday,5.0,8587,The Lion King,45000000,"Family, Animation, Drama",1994-06-23,788241776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5184,Alone,2018-05-09,wednesday,5.0,15,Citizen Kane,839727,"Mystery, Drama",1941-04-30,23217674,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5248,Alone,2018-11-16,friday,5.0,807,Se7en,33000000,"Crime, Mystery, Thriller",1995-09-22,327311859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5280,Alone,2019-02-28,thursday,5.0,244786,Whiplash,3300000,Drama,2014-10-10,13092000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5408,Alone,2018-12-14,friday,5.0,10376,The Legend of 1900,9000000,Fantasy,1998-10-28,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5536,Alone,2018-07-03,tuesday,5.0,120467,The Grand Budapest Hotel,30000000,"Comedy, Drama",2014-02-26,174600318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5824,Alone,2018-12-24,monday,5.0,369557,Sing Street,4000000,"Romance, Drama, Music",2016-03-11,13624522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5856,Alone,2019-03-18,monday,5.0,426,Vertigo,2479000,"Mystery, Romance, Thriller",1958-05-09,28000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6048,Alone,2019-02-05,tuesday,5.0,1891,The Empire Strikes Back,18000000,"Adventure, Action, Science Fiction",1980-05-17,538400000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6080,with gf,2018-04-14,saturday,5.0,207,Dead Poets Society,16400000,Drama,1989-06-02,235860116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6304,Alone,2018-10-04,thursday,5.0,240,The Godfather: Part II,13000000,"Drama, Crime",1974-12-20,47542841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6528,with gf,2018-11-12,monday,5.0,550,Fight Club,63000000,Drama,1999-10-15,100853753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6624,Alone,2018-05-03,thursday,5.0,77338,The Intouchables,13000000,"Drama, Comedy",2011-11-02,426480871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6720,Alone,2018-10-07,sunday,5.0,429,"The Good, the Bad and the Ugly",1200000,Western,1966-12-23,6000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6976,Alone,2018-05-18,friday,5.0,101,Leon: The Professional,16000000,"Thriller, Crime, Drama",1994-09-14,45284974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7200,Alone,2018-06-17,sunday,5.0,567,Rear Window,1000000,"Drama, Mystery, Thriller",1954-08-01,36764313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7360,Alone,2018-08-02,thursday,5.0,539,Psycho,806948,"Drama, Horror, Thriller",1960-06-16,32000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7424,Family,2018-08-17,friday,5.0,769,GoodFellas,25000000,"Drama, Crime",1990-09-12,46836394,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7648,Alone,2018-06-02,saturday,5.0,128,Princess Mononoke,26500000,"Adventure, Fantasy, Animation",1997-07-12,159375308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744,with gf,2018-08-15,wednesday,5.0,935,Dr. Strangelove or: How I Learned to Stop Worr...,1800000,"Drama, Comedy, War",1964-01-29,9440272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8096,Alone,2019-03-15,friday,5.0,4935,Howl's Moving Castle,24000000,"Fantasy, Animation, Adventure",2004-11-19,234710455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8160,with gf,2018-12-24,monday,5.0,1585,It's a Wonderful Life,3180000,"Drama, Family, Fantasy",1946-12-20,9644124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8256,Alone,2019-05-07,tuesday,5.0,331214,Band of Brothers,125000000,"Action, Drama, War",2001-09-09,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8320,with gf,2018-11-11,sunday,5.0,975,Paths of Glory,935000,"Drama, War",1957-09-18,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8416,Alone,2019-01-07,monday,5.0,121,The Lord of the Rings: The Two Towers,79000000,"Adventure, Fantasy, Action",2002-12-18,926287400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8544,Alone,2018-08-01,wednesday,5.0,185,A Clockwork Orange,2200000,"Science Fiction, Drama",1971-12-18,26589000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8640,with gf,2018-08-02,thursday,5.0,278,The Shawshank Redemption,25000000,"Drama, Crime",1994-09-23,28341469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8768,Alone,2019-05-07,tuesday,5.0,77,Memento,9000000,"Mystery, Thriller",2000-10-11,39723096,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8896,Alone,2018-09-27,thursday,5.0,13,Forrest Gump,55000000,"Comedy, Drama, Romance",1994-07-06,677945399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
df3['genres'].str.contains('Action')
df3.loc[df3['genres'].str.contains('Horror'), 'Day'] = "saturday"

32      False
1632    False
3232     True
4832     True
6432    False
8032    False
384     False
544     False
640     False
768      True
1504     True
1696    False
1888     True
2304    False
2368    False
2656     True
3360     True
4128    False
4384     True
4896     True
5088     True
5344     True
5440    False
5760     True
6336     True
7168    False
7264     True
7296    False
7680    False
7840    False
        ...
4864    False
4960    False
5184    False
5248    False
5280    False
5408    False
5536    False
5824    False
5856    False
6048     True
6080    False
6304    False
6528    False
6624    False
6720    False
6976    False
7200    False
7360    False
7424    False
7648    False
7744    False
8096    False
8160    False
8256     True
8320    False
8416     True
8544    False
8640    False
8768    False
8896    False
Name: genres, Length: 249, dtype: bool

In [ ]:
for i in df3.genres:
    x = i.split(',')
    for i in x:        
        if i in